html, body {
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
}
.header {
    position: relative;
    display: block;
    height: 70px;
    width: 100%;
    left: 0;
    margin-top: 0;
    -moz-box-shadow: 0 8px 6px -6px #454545;
    -webkit-box-shadow: 0 8px 6px -6px #454545;
    box-shadow: 0 8px 6px -6px #454545;
}
.logo {
    position: absolute;
    display: block;
    height: 100%;
    font-family: Arial;
    font-size: 26px;
    top: 0;
    line-height: 70px;
    right: 100px;
}
.logo > a {
    text-decoration: none;
    color: #454545;
}
.logo > a:hover {
    color: #00aaee;
}
.body-wrapper {
    position: relative;
    display: block;
    width: 100%;
    left: 0;
    margin-top: 0;
}
.title {
    position: relative;
    display: block;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-family: 'Arial';
    font-size: 34px;
    color: #000;
    margin-top: 0;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}
.login-w {
    position: relative;
    display: block;
    width: 500px;
    border: 1px #858585 solid;
    border-radius: 15px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
}
.login-cont {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    width: calc(100% - 80px);
    padding: 40px;
}
.input-field {
    position: relative;
    display: block;
    margin-top: 25px;
    font-family: 'Arial';
    font-size: medium;
    color: #454545;
    border: 1px solid #454545;
    border-radius: 3px;
    background: white;
    padding: 10px;
    width: 100%;
    left: 0;
    filter: none;
    outline: none;
    direction: rtl;
}
.button {
    position: relative;
    display: block;
    height: 40px;
    width: 100%;
    margin-top: 25px;
    font-weight: bold;
    background: #00aaee;
    border-radius: 3px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: Arial;
    font-size: 20px;
}
.button:hover {
    background: #04688f;
}
.login-redirect {
    position: relative;
    display: block;
    height: 200px;
    margin-top: 0;
    width: 100%;
    left: 0;
}
.login-r-txt {
    position: relative;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial;
    font-size: x-large;
    color: #454545;
    margin-top: 100px;
}
.link {
    position: relative;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial;
    font-size: x-large;
    color: #454545;
    margin-top: 20px;
}
.link:hover {
    color: #00aaee;
}
.error {
    position: relative;
    display: block;
    margin-top: 25px;
    right: 0;
    font-family: Arial;
    font-size: medium;
    color: rgb(180, 16, 16);
    direction: rtl;
}
.type-wrapper {
    position: relative;
    display: flex;
    margin-top: 25px;
    left: 0;
    width: 100%;
    direction: rtl;
}
.entity-type {
    position: relative;
    top: 0;
    margin-right: 25px;
    font-family: 'Arial';
    font-size: medium;
    color: #454545;
    direction: rtl;
}
.animated-transition {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.noselect {
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}